﻿@model IEnumerable<CloudEmployee.Web.Models.School>
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <h2 class="admin-header">User Management</h2>
</div>
<hr />
@*<div class="row">
        <h1 style="font-size: 30px;">Select Quiznos Store</h1>
    </div>*@
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="panel-span-header">User List</span></div>
            <div class="panel-body">
                <div class="table-responsive" style="width:inherit;">
                    <table id="tblUser" class="responsive no-wrap table-responsive" style="width: 100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>School Abbr</th>
                                <th>School Name</th>
                                <th>Total Enrollees</th>
                                <th>Date Establish</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach(var school in Model)
                            {
                                <tr>
                                    <td>@school.Id</td>
                                    <td>@school.SchoolAbbr</td>
                                    <td>@school.SchoolName</td>
                                    <td>@school.TotalEnrollee</td>
                                    <td>@school.DateEstablish</td>
                                    <td></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="panel-span-header">Pie Graph</span></div>
            <div class="panel-body">

                <div id="pieChart" style="min-width:310px; height:400px; max-width: 600px; margin:auto 0"> </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="panel-span-header">Bar Graph</span></div>
            <div class="panel-body">
                <div id="barChart" style="min-width:310px; height:400px; max-width: 600px; margin:auto 0"> </div>
            </div>
        </div>
    </div>
</div>
